/* cancel */

* {
  box-sizing:border-box;
  padding:0;
  margin:0;
  background:none;
  text-decoration:none;
  outline:none;
  color:#404040;
  border:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

*:visited,
*:active {
  color:inherit
}

/* text & width  */


body {
  font-family: "Iowan Old Style",Palatino,Palatino Linotype,"Palatino LT STD",Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-size: 17px;
}

main {
  padding: 160px 48px 48px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr,
figure {
  margin: auto;
  max-width: 576px;
}

h1 {
  font-size: 27px;
  line-height: 32px;
  padding-bottom:11px;
  padding-top:11px;
  font-weight:600;
  margin-bottom: 64px;
}

h2,
h3 {
  font-size: 24px;
  line-height:32px;
  padding-top: 11px;
  padding-bottom:11px;
  font-weight:600;
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: center;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height:32px;
  font-weight:600;
}

p, ul, ol {
  font-size: 17px;
  font-weight: 400;
  line-height: 2rem;
}

p + p {
  text-indent: 3rem;
}

a {
  font-weight:inherit;
  font-size:inherit;
}

ul {
  list-style-type: circle;
}
ol, ul {
  margin-top: 32px;
  margin-bottom: 32px;
}

p>a,
li>a,
footer a
{
  background:linear-gradient(to right, hsl(338, 29%, 46%, 0.2), hsl(338, 29%, 46%, 0.4));
  background-size:300% 40%;
  background-repeat:no-repeat;
  background-position:0% 100%;
  padding:0
}

p>a:hover,
li>a:hover,
footer a:hover {
  background-position:100% 100%
}

/* visuals */

hr {
  display:block;
  border:none;
  height:2px;
  margin-top:100px;
  margin-bottom:70px;
  background: hsl(0,0%,97%);
  width: 288px;
}

figure {
  margin-top: 96px;
  margin-bottom: 96px;
}

.hd-1 {
  max-width: 720px;
}

.hd-2 {
  max-width: 1080px;
}

img,
#player {
  display:block;
  width:100%;
  height:auto;
  border-radius:2px;
}


figcaption {
  font-size: 17px;
  line-height:32px;
  padding-top:3px;
  padding-bottom:3px;
  font-style: italic;
  margin-top:32px;
  text-align:center
}


/* footer */

footer {
  margin-top:6rem;
  text-align:center
}

footer a {
  margin:0 10px;
  line-height: 35px;
}
